.wrapper {
  margin: 0 auto;
  width: 50vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1.6fr repeat(5, 1fr);
  row-gap: 1px;
  column-gap: 1px;
  align-items: center;
}

.result {
  background-color: rgb(62, 76, 88);
  color: white;
  grid-column: span 4;
  text-align: end;
  font-size: 30px;
  padding: 10px;
  margin: 0;
}

.zero {
  grid-column: span 2;
}

.key {
  background-color: rgb(231, 233, 236);
  padding: 10px 0;
  margin: 0;
  text-align: center;
}

.operation {
  background-color: orange;
}
